.custom-hotspot {
  height: 50px;
  width: 50px;
  background: #f00;
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Mother_nature.jpg/1200px-Mother_nature.jpg"); */
}
